# Virtual environment
cms_venv/

# Python bytecode caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuration files with sensitive data
config.py

# Other common ignores
*.log
*.sql
static/uploads/*
key.txt